{% extends "base.html" %}
{% load static %}

{% block title %}Каталог книг{% endblock %}
{% block content %}
    <div class="container">
        <div class="header">
            <h1><a href="/books">Каталог</a></h1>
        </div>
        <div class="row">
            {% for book in books %}
                <div class="book col-md-4">
                    <h2>{{ book.name }}</h2>
                    <p>Автор: {{ book.author }}</p>
                    <p>Дата публикации: {{ book.pub_date }}</p>
                </div>
            {% endfor %}
        </div>
        <div align="center">
            {% if previous_page is not None %}
                <h6><a href="/books/{{ previous_page }}"> &lt;&lt;{{ previous_page }}&emsp;</a></h6>
            {% endif %}
            {% if next_page is not None %}
                <h6><a href="/books/{{ next_page }}"> {{ next_page }}&gt;&gt;</a></h6>
            {% endif %}
        </div>

    </div>
{% endblock %}